@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$font-color: rgb(255, 255, 255);
$font-base: 'Raleway', 'Roboto', Arial, Helvetica, sans-serif;
$logo-size: 55px;
$footer-logo-size: 120px;

$header-font-size-mobile: 19px;
$header-font-size-pc: 16px;

$body-background-dark: #020202;
$header-background-dark: rgba(0, 0, 0, 0.548);

$menu-mobile-background-dark: rgba(0, 0, 0, 0.548);
$nav-background-dark: rgb(0, 0, 0);
$nav-background-dark-transparent: rgba(34, 33, 33, 0.568);
$nav-hover-font-color: rgb(194, 47, 47);

$footer-background-color: #050505;
$year-awards-color: rgb(209, 25, 25);
$year-awards-font-color: rgb(236, 232, 232);

$know-more-color: rgb(124, 18, 18);

$desktop-screen-size: 800px;
// $laptop-screen-size: 1024px;

$big-title-font-size: 28px;

$bugdet-color-background: rgb(179, 28, 28);
$bugdet-font-color: rgb(255, 255, 255);
$budget-font-hover-color: rgb(243, 243, 243);
$budget-background-hover-color: rgb(211, 19, 19);

// carousel
$carousel-background-color: rgb(199, 18, 18);